{% extends "rest_framework/base.html" %}
{% load i18n %}
{% load rest_framework %}


{% block navbar %}
      <div class="navbar navbar-inverse navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
        <div class="container">
          <span>
              <a class="navbar-brand"  href="https://api.beatcovid19now.org/api/">
                  {% trans 'beatcovid19 API' %}
              </a>
          </span>
          <ul class="nav navbar-nav pull-right">
            {% block userlinks %}
              {% if user.is_authenticated %}
                {% optional_logout request user %}
              {% else %}
                {% optional_login request %}
              {% endif %}
            {% endblock %}
          </ul>
        </div>
      </div>
    {% endblock %}
